# {{ project_name }}

{{ description }}

## Installation

```bash
pip install -r requirements.txt```

## Usage

```bash
python -m src.{{ project_name }}```

## License

This project is licensed uder the {{ license }} License - see the LICENSE file for details.
